{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <title>Covid Tracker</title>
</head>


<body>
    <nav>
        <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'edit' %}">Edit Profile</a></li>
        <li><a href="{% url 'friends' %}">My Friends</a></li>
        <li><a href="{% url 'friend_search' %}">Look for Friends</a></li>
        <li><a href="{% url 'sign_out' %}">Sign Out</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>