{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="items-container">
    <h3>
    {{ user.first_name }}
    {{ user.last_name }}
    </h3>
    {% if user_extended.image %}
    <p>
    <img src="{{user_extended.image.url}}" width="250" height="350">
    </p>
    {% else %}
    <p>
    <img src="https://www.kindpng.com/picc/m/76-763217_anonymous-user-png-transparent-png.png" width="250" height="350">
    </p>
    {% endif %}
</div>
<div class="items-container">
<p>
    <h4>
    <label>Covid Positive:</label>
    {% if user_extended.covid_positive %}
        Yes
    {% else %}
        No
    {% endif %}
    </h4>
</p>
<p>
    <h4>
    <label>Has been in contact with a Covid Positive:</label>
    {% if user_extended.covid_contact %}
        Yes
    {% else %}
        No
    {% endif %}
    </h4>
</p>
</div >

<div class="items-container">
    {% if alerts %}
    <h3>
        <p>Some of your friends have covid</p>
        <p>Have you been in contact with any of them?</p>
    </h3>
        <form method="POST" action="">
                {% csrf_token %}
        {% for alert in alerts %}
                <input type="checkbox" id="friend" name="check">
                <label for="friend"> {{alert}} </label><br>
        {% endfor %}
            <input type="submit" value="Submit">
        </form>
    {% endif %}
</div>
{% endblock %}