<form method="POST" action="">
    {% csrf_token %}
    <label>Type in Friend's name:</label>
    <input type="text" name="name" >
    <input type="submit" value="Search">
</form>
{% if users %}
    {% for user in users %}
    <div>
    <p>{{ user.first_name}} {{ user.last_name }} </p>
    <img src="{{user.image_url}}" width="250" height="200">
        <form method="POST" action="">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{user.pk}}">
            <input type="submit" value="Add friend">
        </form>
    </div>
    {% endfor %}
{% endif %}

