{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <title>Covid Tracker</title>
</head>


<div class="items-container">
    <form method="POST" action="">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username"><br><br>
        <label>Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Sign in">


            {% for message in messages %}
                <p>
                    {{ message }}
                </p>
            {% endfor %}
    </form>
    Don't have an account?
    <a class="button" href="{% url 'sign_up' %}">Sign up</a>
</div>